<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
	default-lazy-init="true">

	<bean id="propertyConfigurerOmsSource"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mina.properties</value>
			</list>
		</property>
	</bean>

	<!-- server config -->
	<bean id="handler0001" class="com.hbp.mina.Handler0001" />
	<bean id="handler0002" class="com.hbp.mina.Handler0002" />

	<bean id="minaServer" class="com.hbp.mina.MinaServer" init-method="start">
		<property name="server" value="localhost:9000" />
		<property name="corePoolSize" value="50" />
		<property name="maximumPoolSize" value="100" />
		<property name="keepAliveTime" value="60" />

		<property name="handlerMap">
			<map>
				<entry key="0001">
					<ref bean="handler0001" />
				</entry>
				<entry key="0002">
					<ref bean="handler0002" />
				</entry>
			</map>
		</property>
	</bean>


	<!-- client config -->
	<bean id="handler1001" class="com.hbp.mina.Handler1001" />
	<bean id="handler1002" class="com.hbp.mina.Handler1002" />

	<bean id="minaClient" class="com.hbp.mina.MinaClient" init-method="initConnect">
		<property name="corePoolSize" value="5" />
		<property name="maximumPoolSize" value="100" />
		<property name="keepAliveTime" value="60" />


		<property name="servers" value="localhost:9000" />
		<!-- <property name="servers"> <list> <value>localhost:9001</value> <value>localhost:9000</value> 
			</list> </property> -->
		<property name="handlerMap">
			<map>
				<entry key="1001">
					<ref bean="handler1001" />
				</entry>
				<entry key="1002">
					<ref bean="handler1002" />
				</entry>
			</map>
		</property>
	</bean>

</beans>